<!DOCTYPE html>
<html ng-app='CheckPhoneNumberApp'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <title>Check Phone Number</title>
  </head>
  <body>
    <h1>Check Phone Number</h1>

    <!-- angular controller -->
    <div ng-controller='CheckPhoneNumberController as checkCltr'>
      <input type="text" ng-model="checkCltr.phoneNumber" placeholder="Your Phone Number">

      <button ng-click="checkCltr.check();">Check Phone Number</button>

      <!-- success message -->
      <div ng-if="checkCltr.isPhone" class="alert alert-success">
          <p>Yes this is a phone number</p>
      </div>

      <!-- alert message -->
      <div ng-if="checkCltr.notPhone" class="alert alert-danger">
          <p>Please Double check, the formate should be
             either (666)666-6666 or 666-666-6666
          </p>
      </div>

    </div>

    <!-- angular -->
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
